pre.case.description.paneled {
  color: green;
  background: #303030;
  border: none;
}

// For some reason setting containerStyle: null for the isotope comment still results in an absolute position which
// is not what we want, forcing it here to be relative
//.comment {
//  position: relative !important;
//}
.paneled {
  border: none;
}
.public {
  // background: #303030;
  // color: white;
  font-weight: bold;
}
.private {
  // background-color: #FD6F60;
  background-color: rgb(255, 212, 212);
  // background-color: rgba(255, 122, 108, 0.42);
  font-weight: bold;
  color: black;
}

.role-container {
  margin-bottom: 10px;
}