//@import "../js/bower_components/bootstrap/less/bootstrap";
//@import "../js/bower_components/bootswatch/darkly/variables";
//@import "../js/bower_components/bootswatch/darkly/bootswatch";
//@import "../js/bower_components/bootstrap/less/utilities";
//@import "../js/bower_components/font-awesome/less/font-awesome";
// http://lesselements.com/
@import "../js/bower_components/less-elements/elements";
//@import "../js/bower_components/animo.js/animate+animo.css";
@import "../js/bower_components/Hover/css/hover.css";
@import "./animations";
@import "./colors";
@import "./cases";
@import "./tasks";
@import "./users";

@import "../js/vendor/chosen_v1.3.0/chosen.css";
@import "./typeahead";


.container-ascension {
  margin-left: 20px;
  margin-right: 20px;
}

.pointer {
  cursor: pointer;
}

/* ---- Bootstrap overrides ---- */

.btn {
  margin-bottom: 5px;
}

/* ---- Misc Task related styles ---- */

.task-meta-data {
  font-size: 1em;
}

.spacer {
  margin-bottom: 10px;
}

.panel-group {
  margin-bottom: 5px !important;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: none !important;
}