@case-color: hsl( 216, 100%, 50%);
@kcs-color: hsl( 144, 100%, 50%);
.case-text-color {
  color: @case-color;
}
.kcs-text-color {
  color: @kcs-color;
}

.task {
  position: relative;
  float: left;
  margin: 5px;
  padding: 10px;
  color: #262524;
  .rounded(2px);
  &:hover {
    .scale(1.025);
    opacity: 1 !important;
  }
  .pointer;
  // This is primarily for many sbrs/tags
  //overflow: scroll;
}
.task > * {
  margin: 0;
  padding: 0;
}
.task.task100 {
  //height: 100px;
  height: 70px;
  width: 100%;
}
.task.case {
  background: @case-color;
}
.task.kcs {
  background: @kcs-color;
}
.task-own {
  -webkit-box-shadow: rgb(255, 255, 255) 0px 0px 30px 8px;
  //box-shadow: rgb(255, 255, 255) 0px 0px 10px 2px;
  box-shadow: rgb(255, 255, 255) 0px 0px 15px -1px;
}
//.task-icon {
//  position: absolute;
//  left: 10px;
//  top: 56px;
//  font-size: 10px;
//  //  color: white;
//}
.task-bid {
  position: absolute;
  right: 10px;
  font-size: 12px;
  top: 10px;
  //  color: white;
}
.task-entity-state-icon {
  position: absolute;
  right: 73px;
  font-size: 12px;
  top: 10px;
  //  color: white;
}
.task-entity-description {
  position: absolute;
  left: 10px;
  font-size: 12px;
  bottom: 10px;
  //  color: white;
}
.task-symbol {
  position: absolute;
  left: 10px;
  top: 0px;
  font-size: 30px;
  font-weight: bold;
  //color: white;
  color: rgba(0, 0, 0, 0.72);
}
.task-state {
  position: absolute;
  bottom: 8px;
  left: 30px;
}
.task-state-icon {
  position: absolute;
  //bottom: 15px;
  top: 09px;
  left: 10px;
}
.task-meta-data {
  background-color: rgba(0, 0, 0, 0.51);
  padding: 3px;
}
.task-meta-data-absolute {
  position: absolute;
//  left: 38px;
  background-color: rgba(0, 0, 0, 0.51);
  font-size: 1em;
  padding: 2px;
}

// Transition for tasks.coffee
.tasks-transition-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.tasks-transition-enter.tasks-transition-enter-active {
  opacity: 1;
}
.tasks-transition-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.tasks-transition-leave.tasks-transition-leave-active {
  opacity: 0.01;
}

// Transition for tasks.coffee
.fade-enter {
  opacity: 0.01;
  transition: opacity 2.5s ease-in;
}
.fade-enter.fade-enter-active {
  opacity: 1;
}
.fade-leave {
  opacity: 1;
  transition: opacity 2.5s ease-in;
}
.fade-leave.fade-leave-active {
  opacity: 0.01;
}


.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.example-enter.example-enter-active {
  opacity: 1;
}

.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.example-leave.example-leave-active {
  opacity: 0.01;
}
